.idea/
node_modules/
vendor/

# Playwright
./tests/e2e/node_modules/
./tests/e2e/test-results/
./tests/e2e/playwright-report/
./tests/e2e/blob-report/
./tests/e2e/playwright/.cache/

./tests/lizmap/instances/testing_project/*_attachments.zip
./tests/lizmap/instances/mapbuilder/*_attachments.zip
