<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="mapBuilder3liz.com" name="mapBuilder" createdate="2018-10-03">
        <version date="2019-01-04">1.0.0-rc.6</version>
        <label lang="en_US">mapBuilder</label>
        <description lang="en_US">Jelix module for Lizmap, which adds a map builder based on every repositories</description>
        <license>Mozilla Public License 2.0</license>
        <copyright>2019 3liz</copyright>
        <creator name="Nicolas Boisteault" email="nboisteault@3liz.com" />
        <homepageURL>https://3liz.com</homepageURL>
    </info>
    <dependencies>
        <module name="lizmap" minversion="3.2.0" maxversion="3.2.*"/>
    </dependencies>
</module>
