/* Mapbuilder */

#headermenu {
    padding:0;
    top:45px;

}
#auth {width: 100%}

#map, #mapmenu{padding-top: 75px;}

#message, #dock{
    position: absolute;
    top: 75px;
    z-index: 1;
}

#message{
    left: 40px;
    z-index: 2;
}

#mapmenu {
    position: absolute;
    left: 0;
    height: 100%;
    width: 30px;
    background: #4A4A4A;
    background: rgb(0 0 0 / 70%);
    z-index: 1;
}

.nav-link, .nav-link:hover{color: white}

#mapmenu .nav-link{
    padding: 0;
    text-align: center;
    color: white;
    border-top-left-radius: initial;
    border-top-right-radius: initial;
}
#mapmenu .nav-link.active{color: initial;}

#dock {
    left: 30px;
    padding: 5px;
    max-height: 60%;
    overflow-y: auto;
    border-radius: 0 0 7px;
}

.dock-tab-title{
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-bottom: 5px;
    padding-right: 75px;
}

#dock-close{
    position: absolute;
    right: 5px;
}

#mapcontext-container{margin-top: 10px }

#bottom-dock{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 30px;
    right: 10px;
    height: 45%;
    display: none;
    background: rgb(0 0 0 / 70%);
}

#bottom-dock.half-transparent {
    opacity: 0.5;
}

#bottom-dock.visible {
    opacity: 1;
}

#bottom-dock-window-buttons{padding: 2px;}

#base-layer{
    margin-top: 10px;
    border-top: 1px dashed black;
    padding-left: 10px;
}

#attribute-layers-tabs{height: 40px}

#attribute-layers-content{
    font-size: small;
    background-color: #F0F0F0;
    height: calc(100% - 75px);
    overflow-y: auto;
}

/* stylelint-disable */
.lizmapPopupDiv{
    padding: 5px 10px;
    background-color: #F0F0F0;
    font-size: .8em;
}
/* stylelint-enable */

.footer{
    position: absolute;
    bottom: 5px;
    right: 2px;
    width: 100%
}

/* stylelint-disable */
.toggleLegend, .change-order {cursor: pointer;}
.toggleLegend > img {display: none;}
/* stylelint-enable */

.navbar .nav > li > a {
	display: block;
}

.navbar .nav > li > a:hover {
    color: #333;
}

#pdf-print > * {margin-bottom: 5px}

.hide{display: none;}

/* Controls OL */
.ol-zoom{
    left: unset!important;
    right: .5em!important;
}

.ol-drag-zoom {
	top: 65px;
	right: .5em;
}

.ol-touch .ol-drag-zoom {
	top: 80px;
}

.ol-zoom-origin {
	top: 95px;
	right: .5em;
}

.ol-touch .ol-zoom-origin {
	top: 115px;
}

.ol-export-pdf {
	top: 125px;
	right: .5em;
}

.ol-touch .ol-export-pdf {
	top: 140px;
}

.ol-control.active{
	background-color: black;
}

.ol-scale-line {
    margin-left: 25px;
}

/* Progress Bar for Printing */
.progress {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.bg-primary {
    background-color: #007bff !important;
}

.bg-success {
    background-color: #28a745 !important;
}

/* End of Progress Bar for Printing */

/* CSS for LayerTree */
ul.layer-store-tree {
    display: flex;
    flex-direction: column;
    user-select: none;
}

.layer-store-layer {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 3px;
    padding: 3px 5px;
    padding-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.layer-store-layer span {
    padding: 0 10px;
    flex: 1;
}

li.layer-store-arrow {
    padding: 5px 0;
    cursor: pointer;
    display: flex;
    justify-content: start;
    align-items: center;
}

li.layer-store-arrow span:nth-child(2) {
    margin-left: 5px;
}

span.layer-store-folder {
    padding: 0 5px;
}

#layer-store-holder {
    margin: 15px 10px;
}

#layer-store-holder ul {
    margin: 4px 0;
    padding: 2px 8px;
    border-radius: 7px;
    box-shadow: 0 0 4px 0.3px rgb(0 0 0 / 20%);
    list-style-type: none;
}

#layer-store-holder > ul:first-of-type > li:hover {
    background-color: #f0f0f0;
}

.layer-store-arrow {
    padding: 5px;
    border-radius: 5px;
    transition: 0.1s ease;
    margin-bottom: 5px;
}

.layer-store-color {
    width: 13px;
    height: 13px;
    margin-left: 10px;
    border-radius: 25px;
    border: #5a5a5a solid 1.8px;
}

.layer-store-arrow.failed {
    cursor: not-allowed
}

.layer-store-arrow:last-of-type {
    margin-bottom: 0;
}

.layer-store-title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px
}

ul .layer-store-layer:last-child {
    margin-bottom: 0;
}

.layer-store-layer select {
    border: none;
    border-radius: 7px;
    text-align: center;
    font-family: sans-serif;
    width: 100px;
    margin-right: 10px;
}

/* CSS for selection */
.container-layer-selected {
    display: flex;
    margin-bottom: 10px;
    box-shadow: 0 0 4px 0.4px rgb(0 0 0 / 20%);
    border-radius: 8px;
    user-select: none;
    background-color:white;
}

.container-layer-selected:last-child {
    margin-bottom: 0
}

.container-layer-selected.dragging {
    opacity: 0.5;
}

.container-layer-selected .change-order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30px;
    border-radius: 8px 0 0 8px;
}

.container-layer-selected .change-order {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.container-layer-selected .change-order-up {
    border-radius: 8px 0 0;
}

.container-layer-selected .change-order-down {
    border-radius: 0 0 0 8px;
}

.container-layer-selected:first-child .change-order-down {
    border-radius: 8px 0 0 8px;
}

.container-layer-selected:last-child .change-order-up {
    border-radius: 8px 0 0 8px;
}

#layer-selected-holder .container-layer-selected:first-child .change-order-up, #layer-selected-holder .container-layer-selected:last-child .change-order-down {display: none;}

#layer-selected-holder .container-layer-selected:last-child .change-order-up {
    border: none;
}

.layer-selected-content {
    padding: 2px 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%	;
}

.layer-selected-content > div {
    margin: 5px 0;
}

.container-layer-selected .upper-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container-layer-selected .upper-line .title-layer-selected {
    font-size: 14px;
    font-weight: bold;
    cursor: default;
}

.container-layer-selected .layer-buttons-div {
    width: 185px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
}

.container-layer-selected .mid-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-weight: bold;
    color: #6d6d6d;
    cursor: default;
    font-size: 14px;
}

.container-layer-selected .delete-layer-button {
    background-color: transparent;
    width: 85%;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px rgb(0 0 0 / 20%);
    color: black;
    transition: 0.2s;
}

.container-layer-selected .delete-layer-button:hover {
    color: white;
    background-color: red;
    transition: 0.2s;
}

.container-layer-selected button {
    outline: none;
}

.container-layer-selected button:not(.container-layer-selected .delete-layer-button) {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: transparent;
    border: none;
    transition: 0.2s;
}

.container-layer-selected button:not(.container-layer-selected .delete-layer-button):hover {
    box-shadow: 0 0 5px 0.5px rgb(0 0 0 / 40%);
    transition: 0.2s;
}

.container-layer-selected button:not(.container-layer-selected .delete-layer-button):active {
    box-shadow: 0 0 5px 0.5px rgb(0 0 0 / 80%);
}

.container-layer-selected button.active {
    box-shadow: 0 0 5px 0.5px rgb(0 0 0 / 40%);
}

custom-slider .slider {
    width: 180px;
    border-radius: 3px;
    box-shadow: 0 0 5px 0.5px rgb(0 0 0 / 40%);
    background: linear-gradient(to right, white, #555);
    height: 11px;
    margin: 5px;
}

custom-slider .thumb {
    width: 10px;
    height: 21px;
    border-radius: 10px;
    position: relative;
    top: -5px;
    border: solid 1px #555;
    cursor: pointer;
}
