#headermenu {padding:0;top:40px;}
#auth {width: 100%}

#map{margin-top: 75px;}

#mapBuilder{
	position: absolute;
	z-index: 1;
	padding: 2px;
}

.toggleLegend, .changeOrder {cursor: pointer;}
.toggleLegend ~ img {display: none;}

.changeOrder > div {display: block;text-align: center;}
#layerSelected tr:first-child div.changeOrderUp, #layerSelected tr:last-child div.changeOrderDown {visibility: hidden;}

.navbar .nav > li > a {
	display: block;
}

/* Fancytree */
#layerSelected span.fancytree-expander, #layerSelected span.fancytree-icon{display: none;}
table.fancytree-ext-table tbody tr.fancytree-active {
    background-color: inherit;
}

/* Controls OL */
.ol-zoom{left: unset;right: .5em;}

.ol-drag-zoom {
	top: 65px;
	right: .5em;
}
.ol-touch .ol-drag-zoom {
	top: 80px;
}

.ol-zoom-origin {
	top: 95px;
	right: .5em;
}
.ol-touch .ol-zoom-origin {
	top: 110px;
}

.ol-export-pdf {
	top: 125px;
	right: .5em;
}
.ol-touch .ol-export-pdf {
	top: 140px;
}

.ol-control.active{
	background-color: black;
}