#headermenu {padding:0;top:40px;}
#auth {width: 100%}

#map{padding-top: 75px;}

#mapmenu {
    position: absolute;
    left: 0px;
    top: 75px;
    height: 100%;
    width: 30px;
    z-index: 1030;
    background: #4A4A4A;
    background: rgba(0,0,0,0.7);
}

#mapmenu .nav-link{padding: 0;text-align: center;color: white}
#mapmenu .nav-link.active{color: initial;}

#dock {
    position: absolute;
    left: 30px;
    top: 75px;
    z-index: 1;
    padding: 5px;
}

/*#mapBuilder{
	position: absolute;
	
	padding: 3px;
	top: 75px;
	left: 40px;
}*/

.footer{position: absolute;bottom: 5px;right: 2px;width: 100%}

.toggleLegend, .changeOrder {cursor: pointer;}
.toggleLegend > img {display: none;}

.changeOrder > div {display: block;text-align: center;}
#layerSelected tr:first-child div.changeOrderUp, #layerSelected tr:last-child div.changeOrderDown {visibility: hidden;}

.changeOpacityButton button{border-color: #343a40;}
.changeOpacityButton button:nth-child(1){background-color: rgba(0, 0, 0, 0);}
.changeOpacityButton button:nth-child(2){background-color: rgba(0, 0, 0, 0.1);}
.changeOpacityButton button:nth-child(3){background-color: rgba(0, 0, 0, 0.3);}
.changeOpacityButton button:nth-child(4){background-color: rgba(0, 0, 0, 0.5);color: lightgrey;}
.changeOpacityButton button:nth-child(5){background-color: rgba(0, 0, 0, 0.7);color: lightgrey;}

.changeOpacityButton button.active{
	background-color: #0094d6 !important;
	color: white !important;
}

.navbar .nav > li > a {
	display: block;
}

.hide{display: none;}

/* Fancytree */
#layerSelected span.fancytree-expander, #layerSelected span.fancytree-icon{display: none;}
table.fancytree-ext-table tbody tr.fancytree-active {
    background-color: inherit;
}

/* Controls OL */
.ol-zoom{left: unset;right: .5em;}

.ol-drag-zoom {
	top: 65px;
	right: .5em;
}
.ol-touch .ol-drag-zoom {
	top: 80px;
}

.ol-zoom-origin {
	top: 95px;
	right: .5em;
}
.ol-touch .ol-zoom-origin {
	top: 110px;
}

.ol-export-pdf {
	top: 125px;
	right: .5em;
}
.ol-touch .ol-export-pdf {
	top: 140px;
}

.ol-control.active{
	background-color: black;
}